body {
    header {
        height: 25vh;
        background: purple;
        color:white;
    }
    footer {
        height: 25vh;
        background: orange;
        color:white;

    }
    .centrale {
        height: 500px;
        background: black;
        color: red;
    }
    .spaziosingolo {
        background: grey;
        color: orange;
    }
    .main {
        height: 50vh;
        background: black;
        color: red;
    }

}
