body {
    header {
        height: 25vh;
        background: purple;
        color:white;
    }
    footer {
        height: 25vh;
        background: orange;
        color:white;
        
    }
    .main {
        height: 50vh;
        background: black;
        color: red;
    }

}
