* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  height: 25vh;
  background: purple;
  color: white;
}

body footer {
  height: 25vh;
  background: orange;
  color: white;
}

body .main {
  height: 50vh;
  background: black;
  color: red;
}

